*{  
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{

    min-height: 25vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/nicebk.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links img{
    width: 100px;
    float: left;
    height: auto;
}

.nav-links ul li{

    list-style: none;
    display: inline-block;
    padding:  8px 12px;
    position: relative;
}
.nav-links ul li a{

 color: #fff;
 text-decoration: none;
 font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0px;
    height: 2px;
    background:#5c5c5c;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.nav-links ul li ul{
    position: absolute;
    left: 0;
    width: auto;
    display: none;
}
.nav-links ul li ul a{

 color: #fff;
 text-decoration: none;
 font-size: 13px;
}

.nav-links ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 1.0);
}

.nav-links ul li:focus-within > ul,
.nav-links ul li:hover > ul{
    display: initial;
}

.features{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10%;
}

h1{
    font-size: 30px;
    font-weight: 600;
}
.features article{
    position: relative;
    background: #fff;
    padding: 100px 60px 110px;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
}

.features article:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5c5c5c;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.5s;
}

.features article:hover:before{
    transform: scaleY(1);
    transform-origin: bottom;
    transition: 0.5s;
}
.features article h1{
    position: absolute;
    left: 40px;
    top: 60px;
    font-size: 30px;
    font-weight: 600;
    z-index: 1;
    opacity: 0.5;
    transition: 0.5s;
}

.features article:hover h1{
    opacity: 1;
    color: #fff;
    transform: translateY(-20px);

}

.freefeat{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
}

.freefeat img{
    width: 200px;
    float: left;
    height: 150px;
    
}
.disfeat{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
}

.disfeat img{
    width: 200px;
    float: right;
    height: 150px;
    
}
.onfeat{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
}

.onfeat img{
    width: 200px;
    float: left;
    height: 180px;
    
}
.onlinefeat{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
}

.onlinefeat img{
    width: 200px;
    float: right;
    height: 150px;
    
}
.responsive{

    display: flex;
    flex-flow: row wrap;
    color: #fff;
    background-color: #9b9b9b;
    height: 50vh;
    width: 100%;
    justify-content: space-between;
}   

h2{
    font-size: 20px;
    font-weight: 600;
    font-variant: small-caps;
}
.responsive ul{
    list-style: none;
    padding-left: 0;
}
.responsive li{
    line-height: 2em;
}


.left .inside{
    position: relative;
    height:50% ;
    width: 100%;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  }
  
 .left .inside form{
    width: 100%;
    text-align: center;
    padding: 25px 20px;
  }
   
   
  .left .inside form .form-group{
    position: relative;
   }
   
    .left .inside form .form-group i{
    position: absolute;
    font-size: 20px;
    top: 50%;
    right: 25px;
    transform:translateY(-50%);
   }
   
   .left .inside form input{
    width: 100%;
    height: 50%;
    margin: 4px 0;
    border: 1px solid #5c5c5c;
    border-radius: 3px;
    background: #181717;
    padding: 0 15px;
    padding-right: 45px;
    font-size: 20px;
   }
   
   .left .inside form textarea{
    padding: 5px 15px;
    border: 1px solid #5c5c5c;
    border-radius: 3px;
    background: #181717;
    width: 100%;
    margin: 4px 0;
   }
   
   .left .inside form button{
    margin-top: 5px;
    border: none;
    background: #00fff0;
    color: #222;
    padding: 10px 0;
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 3px;
   }
   
   .left .inside form input:focus,
   .left .inside form textarea:focus{
    border: 1px solid #00fff0;
    color: #00fff0;
    transition: all 0.3s ease;
   }

   .left .inside form input:focus::placeholder,
   .left .inside form textarea:focus::placeholder{
    padding-left: 4px;
    color: #00fff0;
    transition: all 0.3s ease;
   }

   .left .inside form input:focus + i{
    color: #00fff0;
    transition: all 0.3s ease;
   }



.middle .site-links a:link{
    color: #0ff000;
}
.middle .site-links a:visited{
    color: #ff0000;
}
.middle .site-links a:hover{
    color: #00ffff;
}
.middle .site-links a:active{
    color: #ff00ff;
}



.right p{
    color: #fff;
}

.right img{
    width: 100px;
    height: auto;
}

footer{
  width: 100%;
  position: relative;
  top: 50px;
  background: #5c5c5c;
  justify-content: left;

  
}
footer p{
    font-variant: small-caps;
    color: #fff;
    font-weight: 600;

}
